* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  height: 20vh;
  width: 90%;
  margin: auto;
  padding: 2%;
  box-sizing: border-box;
}

main {
  width: 90%;
  height: 80vh;
  margin: auto;
  padding: 2%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: #ffffff50;
  box-sizing: border-box;
}

main h2 {
  width: 100%;
  padding: 2%;
}

main div {
  width: fit-content;
  height: fit-content;
  padding: 2%;
  border-radius: 3px;
  border: 1px solid black;
}
